:root {
    --main-black: #303030;
    --main-white: rgb(247, 247, 247);
    --chess-black: #487eb0;
    --chess-white: #f5f6fa;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body,html {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    background-color: var(--main-black);
    color:var(--main-white);
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}